In [49]:
import pandas as pd

In [50]:
import numpy as np

In [51]:
df = pd.read_csv('main_data.csv')

In [52]:
df.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...

In [4]:
df.isnull().values.any()

True

In [6]:
df.isnull().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           1
movie_title      0
comb             1
dtype: int64

In [9]:
df['genres'] = df['genres'].replace(np.nan, 'unknown')
df['comb'] = df['comb'].replace(np.nan, 'unknown')

In [10]:
df.isnull().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [11]:
df.isnull().values.any()

False

In [55]:
df.tail()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
6285,Garth Jennings,Matthew McConaughey,Reese Witherspoon,Scarlett Johansson,Family Comedy Animation Drama Music,sing 2,Matthew McConaughey Reese Witherspoon Scarlett...
6286,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans,War Action Thriller Adventure,the king's man,Ralph Fiennes Gemma Arterton Rhys Ifans Matthe...
6287,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,Drama War,the tragedy of macbeth,Denzel Washington Frances McDormand Bertie Car...
6288,Denzel Washington,Michael B. Jordan,Chanté Adams,unknown,Drama Comedy,a journal for jordan,Michael B. Jordan Chanté Adams unknown Denzel ...
6289,Erwin brothers,Zachary Levi,David Aaron Cohen,Jon Gunn (screenplay); Zachary Levi,Drama,american underdog,Zachary Levi David Aaron Cohen Jon Gunn (scree...

In [54]:
df.drop(index = df.index[-1],axis =0,inplace= True)

In [56]:
from tmdbv3api import TMDb
from tmdbv3api import Movie
tmdb = TMDb()
import requests

In [71]:
tmdb_movie = Movie()
tmdb.api_key = '6c2459e44e0b6c41de8d3c8c0a6e8d80'
genress = []
genre_str=''
result = tmdb_movie.search('maine pyar kiya')
movie_id = result[0].id
response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
data_json = response.json()
if data_json['genres']:
    for i in range(0,len(data_json['genres'])):
        genress.append(data_json['genres'][i]['name'])
    genre_str=genre_str.join(genress)

print(genre_str)
            
            
            
            
            
            #df2 = pd.DataFrame({'movie_title': [m]  ,'actor_1_name': [actorsname[0]], 'actor_2_name': [actorsname[1]], 'actor_3_name': [actorsname[2]],'director_name':[directorsname[0]],'genres':[ genre_str]})

RomanceDrama

In [72]:
response1 = requests.get("https://api.themoviedb.org/3/movie/{}/credits?api_key={}&language=en-US".format(movie_id,tmdb.api_key))
actorsname =[]
data_json = response1.json()
if data_json['cast']:
    for i in range(0,3):
        actorsname.append(data_json['cast'][i]['name'])
else:
    for i in range(0,3):
        actorsname.append('unknown')
print(actorsname[0])
print(actorsname[1])
print(actorsname[2])

Salman Khan
Bhagyashree
Alok Nath

In [73]:
response2 = requests.get("https://api.themoviedb.org/3/movie/{}/credits?api_key={}&language=en-US".format(movie_id,tmdb.api_key))
directorsname =[]
data_json = response2.json()
for i in range(0,len(data_json['crew'])):
    if data_json['crew'][i]["job"]=='Director':
        directorsname.append(data_json['crew'][i]['name'])
if len(directorsname)==0:
    directorsname.append('unknown')
print(directorsname[0])

Sooraj Barjatya

In [74]:
comb = actorsname[0] + ' ' + actorsname[1] + ' '+ actorsname[2] + ' '+ directorsname[0] +' ' + genre_str
            
df.loc[len(df.index)] = [directorsname[0],actorsname[0],actorsname[1],actorsname[2],genre_str,'sooryavanshi',comb]

In [80]:
df.tail()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
6288,Denzel Washington,Michael B. Jordan,Chanté Adams,unknown,Drama Comedy,a journal for jordan,Michael B. Jordan Chanté Adams unknown Denzel ...
6289,Erwin brothers,Zachary Levi,David Aaron Cohen,Jon Gunn (screenplay); Zachary Levi,Drama,american underdog,Zachary Levi David Aaron Cohen Jon Gunn (scree...
6290,Rohit Shetty,Akshay Kumar,Katrina Kaif,Ajay Devgn,ActionDramaCrime,sooryavanshi,Akshay Kumar Katrina Kaif Ajay Devgn Rohit She...
6291,Imtiaz Ali,Shahid Kapoor,Kareena Kapoor Khan,Tarun Arora,DramaComedyRomance,sooryavanshi,Shahid Kapoor Kareena Kapoor Khan Tarun Arora ...
6292,Sooraj Barjatya,Salman Khan,Bhagyashree,Alok Nath,RomanceDrama,sooryavanshi,Salman Khan Bhagyashree Alok Nath Sooraj Barja...

In [79]:
df.to_csv('main_data.csv',index=False)